In [15]:
import pandas as pd

In [16]:
dfolder = 'data/'

In [17]:
df = pd.read_csv(dfolder + 'final_gdelt_bycountry.txt')

In [18]:
df

,isocode,year,month,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,count_events_7,...,count_events_11_opp,count_events_12_opp,count_events_13_opp,count_events_14_opp,count_events_15_opp,count_events_16_opp,count_events_17_opp,count_events_18_opp,count_events_19_opp,count_events_20_opp
0,ABW,1981,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ABW,1981,10,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ABW,1981,11,4.0,2.0,4.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ABW,1981,12,0.0,0.0,0.0,22.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ABW,1983,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106702,ZWE,2022,9,4.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106703,ZWE,2022,10,94.0,60.0,22.0,92.0,44.0,12.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106704,ZWE,2022,11,102.0,76.0,34.0,156.0,58.0,24.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106705,ZWE,2023,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106706,ZWE,2023,4,156.0,48.0,122.0,266.0,120.0,14.0,26.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0

In [19]:
df_cameo = pd.read_csv(dfolder + 'cameo.csv', warn_bad_lines=True)

/var/folders/hj/n94x31sj08bdmgwjs6ybxbf40000gn/T/ipykernel_41032/2277362581.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_cameo = pd.read_csv(dfolder + 'cameo.csv', warn_bad_lines=True)

In [22]:
df_cameo

     code                                        description
0       1                              MAKE PUBLIC STATEMENT
1      10                Make statement- not specified below
2      11                                    Decline comment
3      12                           Make pessimistic comment
4      13                            Make optimistic comment
..    ...                                                ...
311   202                            Engage in mass killings
312   203                         Engage in ethnic cleansing
313   204  Use weapons of mass destruction- not specified...
314  2041    Use chemical biological or radiological weapons
315  2042                           Detonate nuclear weapons

[316 rows x 2 columns]