In [1]:
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv('UNHCR.csv')

In [6]:
df.head(20)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection
0,1979,Chile,CHL,Algeria,DZA,2000,0,0,-
1,1979,Western Sahara,ESH,Algeria,DZA,50000,0,0,-
2,1979,Dem. Rep. of the Congo,COD,Angola,AGO,30000,0,0,-
3,1979,Namibia,NAM,Angola,AGO,35000,0,0,-
4,1979,South Africa,ZAF,Angola,AGO,1000,0,0,-
5,1979,Armenia,ARM,Egypt,EGY,400,0,0,-
6,1979,Ethiopia,ETH,Egypt,EGY,720,0,0,-
7,1979,Türkiye,TUR,Egypt,EGY,60,0,0,-
8,1979,Unknown,NaN,Egypt,EGY,3670,0,0,-
9,1979,Unknown,NaN,Argentina,ARG,27050,0,0,-
10,1979,Unknown,NaN,Australia,AUS,304000,0,0,-
11,1979,Unknown,NaN,Austria,AUT,25000,0,0,-
12,1979,Dem. Rep. of the Congo,COD,Burundi,BDI,1010,0,0,-
13,1979,Rwanda,RWA,Burundi,BDI,49480,0,0,-
14,1979,Unknown,NaN,Belgium,BEL,32000,0,0,-
15,1979,Unknown,NaN,Bolivia (Plurinational State of),BOL,500,0,0,-
16,1979,Angola,AGO,Botswana,BWA,280,0,0,-
17,1979,Lesotho,LSO,Botswana,BWA,160,0,0,-
18,1979,South Africa,ZAF,Botswana,BWA,320,0,0,-
19,1979,Zimbabwe,ZWE,Botswana,BWA,22530,0,0,-

In [10]:
df['Other people in need of international protection'] = pd.to_numeric(df['Other people in need of international protection'], errors='coerce')

In [12]:
df['Total'] = df.iloc[:, 5:9].sum(axis=1)

In [13]:
df.tail(10)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Total
116626,2022,Rwanda,RWA,Zimbabwe,ZWE,661,66,0,NaN,727.0
116627,2022,Sierra Leone,SLE,Zimbabwe,ZWE,0,7,0,NaN,7.0
116628,2022,Somalia,SOM,Zimbabwe,ZWE,13,21,0,NaN,34.0
116629,2022,Sudan,SDN,Zimbabwe,ZWE,6,0,0,NaN,6.0
116630,2022,South Sudan,SSD,Zimbabwe,ZWE,8,25,0,NaN,33.0
116631,2022,Uganda,UGA,Zimbabwe,ZWE,10,0,0,NaN,10.0
116632,2022,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0,17000.0,17000.0
116633,2022,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0,17000.0,17000.0
116634,2022,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,87,0,NaN,87.0
116635,2022,Unknown,NaN,Sint Maarten (Dutch part),SXM,0,5,0,NaN,5.0